.ftpignore
.ftpconfig

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

connectivity/*
!connectivity/.gitkeep

data/R2R_test.json
data/R2R_train.json
data/R2R_val_seen.json
data/R2R_val_unseen.json
data/prevalent/*
!data/prevalent/.gitkeep

img_features/*
!img_features/.gitkeep

snap/*
!snap/.gitkeep

logs/*
!logs/.gitkeep
